.card {
}
.card-list {
  margin: 0rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  img {
    height: 20rem;
  }
  #col-custom
  {
      padding: 0rem;
      margin: 0rem;

  }
  #title-1 {
    font-size: 3.4rem;
  }
  #iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
  .container
  {
    margin: 0 auto;
    padding:0rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
